* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    height: 100vh;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 25px;
}

.main-wrapper {
    width: 1000px;
}

/* _____NAVIGATION BAR_____ */
.navbar ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 18px;
    margin: 0 15px;
    font-size: 1.5rem;
    text-align: center;
}

.navbar a.active {
    background-color: rgb(255, 255, 255,.3);
    color: white;
    border-radius: 25px;
}

.navbar a.inactive:hover {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);
    border-radius: 25px;
}

/* _____INTRODUCTION_____ */
.introduction {
    text-align: center;
    padding: 30px 0 25px 0;
}

.text-wrapper {
    margin: auto;
    width: 700px;
}

.intro p.line1{
    font-size: 90px;
    color: white;
    padding: 0 0 20px 0;
}

.intro p.line2 {
    font-size: 20px;
    color: white;
}

.intro img.sparkle1{
    position: relative;
    right: 325px;
    top: 50px;
    width: 100px;
    height: 100px;
}

.intro img.sparkle2{
    position: relative;
    left: 325px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}

/* _____SOCIAL MEDIA_____ */
.social-media {
    position: relative;
    text-align: center;
    bottom: 100px;
}

.social-media a{
    text-decoration: none;
}

.social-media i{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 20px;
    width: 60px;
    padding: 15px 0 15px 0;
    background-color: rgb(255, 255, 255,.3);
    border-radius: 15px;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.social-media i:hover {
    box-shadow: inset 0 0 0 2px rgba(255,255,255);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* _____ABOUT ME BUTTON_____ */
.more-about-me {
    position: relative;
    text-align: center;
    bottom: 50px;
}

.more-about-me a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 20px;
    background-color: rgb(255, 255, 255,.3);
    border-radius: 50px;
}

.more-about-me a:hover {
    box-shadow: inset 0 0 0 2px rgba(255,255,255);
}

/* _____MEDIA QUERIES_____ */
@media only screen and (max-width: 500px) {
    /* _____NAVIGATION BAR_____ */
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 5px 10px;
        margin: 0 2.5px;
        font-size: 0.9rem;
    }

    /* _____INTRODUCTION_____ */
    .text-wrapper {
        width: 300px;
    }

    .intro p.line1{
        font-size: 2.25rem;
        padding: 0 0 5px 0;
    }

    .intro p.line2 {
        font-size: 0.75rem;
    }

    .intro img.sparkle1{
        right: 135px;
        top: 20px;
        width: 30px;
        height: 30px;
    }

    .intro img.sparkle2{
        left: 135px;
        bottom: 20px;
        width: 30px;
        height: 30px;
    }

    /* _____SOCIAL MEDIA_____ */
    .social-media {
        bottom: 50px;
    }

    .social-media i{
        font-size: 15px;
        color: white;
        margin: 5px;
        width: 35px;
        padding: 10px 0 10px 0;
        background-color: rgb(255, 255, 255,.3);
        border-radius: 10px;
    }

    /* _____ABOUT ME BUTTON_____ */
    .more-about-me {
        bottom: 30px;
    }

    .more-about-me a {
        font-size: 15px;
        padding: 10px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 501px) {
    /* _____NAVIGATION BAR_____ */
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 6px 12.5px;
        margin: 0 5px;
        font-size: 1rem;
    }

    /* _____INTRODUCTION_____ */
    .text-wrapper {
        width: 350px;
    }

    .intro p.line1{
        font-size: 3rem;
        padding: 0 0 5px 0;
    }

    .intro p.line2 {
        font-size: 0.75rem;
    }

    .intro img.sparkle1{
        right: 175px;
        top: 30px;
        width: 50px;
        height: 50px;
    }

    .intro img.sparkle2{
        left: 175px;
        bottom: 30px;
        width: 50px;
        height: 50px;
    }

    /* _____SOCIAL MEDIA_____ */
    .social-media {
        bottom: 60px;
    }

    .social-media i{
        font-size: 20px;
        color: white;
        margin: 5px;
        width: 40px;
        padding: 10px 0 10px 0;
        background-color: rgb(255, 255, 255,.3);
        border-radius: 10px;
    }

    /* _____ABOUT ME BUTTON_____ */
    .more-about-me {
        bottom: 30px;
    }

    .more-about-me a {
        font-size: 16.5px;
        padding: 12px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 600px) {
    /* _____NAVIGATION BAR_____ */
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 7px 15px;
        margin: 0 8px;
        font-size: 1.2rem;
    } 

    /* _____INTRODUCTION_____ */
    .text-wrapper {
        width: 450px;
    }

    .intro p.line1{
        font-size: 3.75rem;
        padding: 0 0 5px 0;
    }

    .intro p.line2 {
        font-size: 1rem;
    }

    .intro img.sparkle1{
        right: 220px;
        top: 40px;
        width: 65px;
        height: 65px;
    }

    .intro img.sparkle2{
        left: 220px;
        bottom: 40px;
        width: 65px;
        height: 65px;
    }

    /* _____SOCIAL MEDIA_____ */
    .social-media {
        bottom: 70px;
    }

    .social-media i{
        font-size: 22.5px;
        color: white;
        margin: 5px;
        width: 42.5px;
        padding: 10px 0 10px 0;
        background-color: rgb(255, 255, 255,.3);
        border-radius: 10px;
    }

    /* _____ABOUT ME BUTTON_____ */
    .more-about-me {
        bottom: 30px;
    }

    .more-about-me a {
        font-size: 18px;
        padding: 15px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 768px) {
    /* _____NAVIGATION BAR_____ */
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 7px 15px;
        margin: 0 12.5px;
        font-size: 1.45rem;
    }

    /* _____INTRODUCTION_____ */
    .text-wrapper {
        width: 525px;
    }

    .intro p.line1{
        font-size: 4.5rem;
        padding: 0 0 5px 0;
    }

    .intro p.line2 {
        font-size: 1.25rem;
    }

    .intro img.sparkle1{
        right: 260px;
        top: 45px;
        width: 75px;
        height: 75px;
    }

    .intro img.sparkle2{
        left: 260px;
        bottom: 45px;
        width: 75px;
        height: 75px;
    }

    /* _____SOCIAL MEDIA_____ */
    .social-media {
        bottom: 75px;
    }

    .social-media i{
        font-size: 25px;
        color: white;
        margin: 5px;
        width: 45px;
        padding: 10px 0 10px 0;
        background-color: rgb(255, 255, 255,.3);
        border-radius: 10px;
    }

    /* _____ABOUT ME BUTTON_____ */
    .more-about-me {
        bottom: 30px;
    }

    .more-about-me a {
        font-size: 22px;
        padding: 17.5px;
        border-radius: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    /* _____NAVIGATION BAR_____ */
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 8px 18px;
        margin: 0 15px;
        font-size: 1.5rem;
    } 
  
    /* _____INTRODUCTION_____ */
    .introduction {
        padding: 30px 0 25px 0;
    }
    
    .text-wrapper {
        width: 700px;
    }
    
    .intro p.line1{
        font-size: 90px;
        padding: 0 0 20px 0;
    }
    
    .intro p.line2 {
        font-size: 20px;
    }
    
    .intro img.sparkle1{
        right: 325px;
        top: 50px;
        width: 100px;
        height: 100px;
    }
    
    .intro img.sparkle2{
        left: 325px;
        bottom: 50px;
        width: 100px;
        height: 100px;
    }
    
    /* _____SOCIAL MEDIA_____ */
    .social-media {
        bottom: 100px;
    }
    
    .social-media i{
        font-size: 30px;
        margin: 20px;
        width: 60px;
        padding: 15px 0 15px 0;
        border-radius: 15px;
    }
    
    /* _____ABOUT ME BUTTON_____ */
    .more-about-me {
        bottom: 50px;
    }
    
    .more-about-me a {
        font-size: 25px;
        padding: 20px;
        border-radius: 50px;
    }
}