* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    height: 100vh;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 25px;
}

.main-wrapper {
    width: 1000px;
}

/* _____NAVIGATION BAR_____ */
.navbar ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 18px;
    margin: 0 15px;
    font-size: 1.5rem;
    text-align: center;
}

.navbar a.active {
    background-color: rgb(255, 255, 255,.3);
    color: white;
    border-radius: 25px;
}

.navbar a.inactive:hover {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 5px 10px;
        margin: 0 5px;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 601px) {
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 6px 12.5px;
        margin: 0 7.5px;
        font-size: 1.2rem;
    } 
}

@media only screen and (min-width: 768px) {
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 7px 15px;
        margin: 0 10px;
        font-size: 1.4rem;
    } 
}

@media only screen and (min-width: 1000px) {
    .main-wrapper {
        width: 100%;
    }

    .navbar a {
        padding: 8px 18px;
        margin: 0 15px;
        font-size: 1.5rem;
    } 
}